$green: $screen-accent;
$black: #000000;
$gray:  #eee;

$grid-opacity: 0.15;

//  {
//     box-sizing: border-box;
// }

// html {
//     height: 100%;
//     background-color: #111;
//     font-size: 10px;
// }

// body {
//     background-image:
//         linear-gradient(0deg, transparent 24%, rgba($green, $grid-opacity) 25%, rgba($green, $grid-opacity) 26%, transparent 27%, transparent 74%, rgba($green, $grid-opacity) 75%, rgba($green, $grid-opacity) 76%, transparent 77%, transparent),
//         linear-gradient(90deg, transparent 24%, rgba($green, $grid-opacity) 25%, rgba($green, $grid-opacity) 26%, transparent 27%, transparent 74%, rgba($green, $grid-opacity) 75%, rgba($green, $grid-opacity) 76%, transparent 77%, transparent);
//     background-size: 7rem 7rem;
//     background-position: -5.2rem -5.2rem;
//     width: 100%;
//     height: 100%;
//     position: relative;
//     padding: 0;
//     margin: 0;
//     font-size: 1.6rem;
// }



@keyframes radar-beam {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes blips {
    14% {
        background:
            radial-gradient(2vmin circle at 75% 70%, rgba(#fff, 1) 10%, rgba($green, 1) 30%, rgba(#fff, 0) 100%);
    }
    14.0002% {
        background:
            radial-gradient(2vmin circle at 75% 70%, rgba(#fff, 1) 10%, rgba($green, 1) 30%, rgba(#fff, 0) 100%),
            radial-gradient(2vmin circle at 63% 72%, rgba(#fff, 1) 10%, rgba($green, 1) 30%, rgba(#fff, 0) 100%);
    }
    25% {
        background:
            radial-gradient(2vmin circle at 75% 70%, rgba(#fff, 1) 10%, rgba($green, 1) 30%, rgba(#fff, 0) 100%),
            radial-gradient(2vmin circle at 63% 72%, rgba(#fff, 1) 10%, rgba($green, 1) 30%, rgba(#fff, 0) 100%),
            radial-gradient(2vmin circle at 56% 86%, rgba(#fff, 1) 10%, rgba($green, 1) 30%, rgba(#fff, 0) 100%);
    }
    26% {
        background:
            radial-gradient(2vmin circle at 75% 70%, rgba(#fff, 1) 10%, rgba($green, 1) 30%, rgba(#fff, 0) 100%),
            radial-gradient(2vmin circle at 63% 72%, rgba(#fff, 1) 10%, rgba($green, 1) 30%, rgba(#fff, 0) 100%),
            radial-gradient(2vmin circle at 56% 86%, rgba(#fff, 1) 10%, rgba($green, 1) 30%, rgba(#fff, 0) 100%);
        opacity: 1;
    }
    100% {
        background:
            radial-gradient(2vmin circle at 75% 70%, rgba(#fff, 1) 10%, rgba($green, 1) 30%, rgba(#fff, 0) 100%),
            radial-gradient(2vmin circle at 63% 72%, rgba(#fff, 1) 10%, rgba($green, 1) 30%, rgba(#fff, 0) 100%),
            radial-gradient(2vmin circle at 56% 86%, rgba(#fff, 1) 10%, rgba($green, 1) 30%, rgba(#fff, 0) 100%);
        opacity: 0;
    }
}